button.button1 {
cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
button.button1 {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
button.button2 {
cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #FF5192;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
button.button2 {

  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

